* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  background: #fff;
  min-width: 320px;
}

.App-container{
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
}

.App-block {
  width: 100%;
  height: auto;
  padding: 40px 20px;
}

.App-btn {
  display: block;
  padding: 15px 35px;
  border: 2px solid #383639;
  font-weight: bold;
  color: #181a19;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  background: #eadddb;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(177,177,177,.5);
  margin: 0 auto;
}

.App-btn:hover {
  color: #383639;
}

.App-block-crl {
  padding: 0 10px;
  margin: 50px;
}