.Circle-crl {
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 38px;
    font-weight: 500;
    color: #383639;
    border: 2px solid #717a84;
    border-radius: 50%;
    padding: 15px;
    margin: 5px 25px;
}